/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */


@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

.mycontents {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
}

header .title {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 90px;
  letter-spacing: 0.05em;
}

header ul {
  display: flex;
}

header ul li {
  margin-left: 30px;
}

header ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 80px;
}

footer {
  height: 50px;
  background-color: #333333;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

main {
  min-height: calc(100vh - 130px - 50px);
}


/*works single*/

.single__texts {
  margin-bottom: 60px;
}

.single__texts .single__texts__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.025em;
  margin-bottom: -5px;
}

.single__texts .single__texts__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.single__texts img {
  width: 100%;
  max-width: 600px;
}

.single__content p{
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 30px;
}

.single__content .grey-text {
  color: #8c8c8c;
}